---
import Terminal from "../components/Terminal.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { Clock4 } from "lucide-astro";
---

<BaseLayout title="About" pageHeader="About me" lang="en">
    <p>
        Hello! I'm Marco Antonio and I am a final-year Software Engineering
        student at <a href="https://ucm.es">Universidad Complutense de Madrid</a
        >, Spain. For that reason I currently live in Madrid (<span
            class="time-tooltip"
            title="Current time in Madrid"
        >
            <Clock4 size={15} />
            <span id="madrid-time">--:--</span></span
        > ).
    </p>
    <p>
        I'm passionate about web development, backend systems and open-source
        software. Currently, I'm learning Go (Golang) and deepening my knowledge
        of modern web technologies. I am very curious and love trying new
        technologies and languages that come out to see how I can add them to my
        stack or what I can learn from them. I believe that it is very useful to
        learn about most areas in software (even if it's only surface level
        knowledge) to become a better overall engineer so I try to learn more
        about low-level concepts, distributed systems, DevOps, databases, even
        if I'm not sure I'll use that knowledge in my day to day work.
    </p>

    <p>
        I value simplicity both in design and in code. I believe the best
        solutions are often the most straightforward ones, which is why I chose
        to learn Go, its simplicity and focus on clarity align with how I think
        software should be built. This philosophy extends to my work: I prefer
        clean interfaces, readable code, and technologies that don't
        overcomplicate things, *cough* *cough* rust. You can see this reflected
        in this website itself, simple but not minimalist, just showing the
        content for what it is.
    </p>

    <Terminal />

    <p>
        You can see more about my skills on this table, order left to right
        matters, first comes the ones I know the most :
    </p>

    <table style="width:100%">
        <tr>
            <th class="bg-yellow skill-col" rowspan="11">Skills</th>
        </tr>
        <tr>
            <th class="bg-cyan">Languages</th>
            <td colspan="2"
                ><u>Java</u>, <u>Go</u>, Python, Javascript, Typescript, Zig</td
            >
        </tr>
        <tr>
            <th class="bg-cyan" rowspan="2">Web</th>
            <th class="bg-teal">Backend</th>
            <td
                ><u>Spring Boot</u>, <u>Go's net/http</u>, chi, Express, Gin,
                Echo, Flask</td
            >
        </tr>
        <tr>
            <th class="bg-teal">Frontend</th>
            <td><u>Tailwind</u>, Svelte, SvelteKit, Bootstrap, htmx, Astro</td>
        </tr>
        <tr>
            <th class="bg-cyan">APIs/<wbr />Protocols</th>
            <td colspan="2"><u>REST</u>, Websockets</td>
        </tr>
        <tr>
            <th class="bg-cyan" rowspan="2">Libraries</th>
            <th class="bg-teal">Desktop</th>
            <td>Wails, Swing, Tkinter</td>
        </tr>
        <tr>
            <th class="bg-teal">TUIs</th>
            <td>Bubble Tea, Lipgloss</td>
        </tr>
        <tr>
            <th class="bg-cyan">Tools</th>
            <td colspan="2"
                ><u>Linux</u>, <u>Git</u>, <u>GitHub</u>, Docker, Vim</td
            >
        </tr>
        <tr>
            <th class="bg-cyan">Databases</th>
            <td colspan="2"
                ><u>PostgreSQL</u>, MySQL, MariaDB, Oracle, SQLite</td
            >
        </tr>
        <tr>
            <th class="bg-cyan">Testing</th>
            <td colspan="2"
                ><u>Junit5</u>, <u>gotest</u>, Karate, pytest
                <tr>
                    <th class="bg-cyan">CI/CD</th>
                    <td colspan="2">GitHub Actions, Docker Compose</td>
                </tr>
            </td>
        </tr>
    </table>
    <p>Underline means they are the ones I am most comfortable with.</p>
</BaseLayout>
<style>
    .time-tooltip {
        cursor: help;
        position: relative;
    }

    th,
    td {
        border: 1px solid var(--sol-dark);
        padding: 2rem 0.5rem;
    }

    td {
        background-color: var(--sol-metal);
    }

    table {
        margin-bottom: 0.5rem;
    }

    .skill-col {
        padding: 0rem 1.25rem;
    }
</style>

<script>
    function updateMadridTime() {
        const now = new Date();
        const madridTime = now.toLocaleTimeString("en-GB", {
            timeZone: "Europe/Madrid",
            hour: "2-digit",
            minute: "2-digit",
        });
        const timeElement = document.getElementById("madrid-time");
        if (timeElement) {
            timeElement.textContent = madridTime;
        }
    }

    updateMadridTime();
    setInterval(updateMadridTime, 1000);
</script>
