<footer class="bg-dark">
    <p>DCCXXV.DEV</p>
    <p>Email: marcoantonioperezneira@gmail.com</p>
    <p>X/twitter: <a href="https://twitter.com/DCCXXV_">@DCCXXV_</a></p>
    <p>
        LinkedIn: <a
            href="https://www.linkedin.com/in/marco-antonio-p%C3%A9rez-neira-562b42342/"
            >Marco Antonio Perez Neira</a
        >
    </p>
</footer>

<style>
    footer {
        color: var(--sol-purple);
        padding: 1.5rem;
    }

    a {
        text-decoration: none;
        color: var(--sol-purple);
    }
</style>
