<footer class="bg-dark">
    <div class="footer-content">
        <p>DCCXXV.DEV</p>
        <p>Email: marcoantonioperezneira@gmail.com</p>
        <p>X/twitter: <a href="https://twitter.com/DCCXXV_">@DCCXXV_</a></p>
        <p>
            LinkedIn:
            <a
                href="https://www.linkedin.com/in/marco-antonio-p%C3%A9rez-neira-562b42342/"
                >Marco Antonio Perez Neira</a
            >
        </p>
    </div>
</footer>

<style>
    footer {
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        width: 100vw;
        color: var(--sol-purple);
        padding: 1.5rem 0;
    }

    .footer-content {
        max-width: 1350px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    a {
        text-decoration: none;
        color: var(--sol-purple);
    }
</style>
