---
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const projects = await getCollection("projects", ({ id }) => {
    return id.startsWith("es/");
});
const sortedProjects = projects.sort(
    (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) =>
        b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<BaseLayout title="Proyectos" pageHeader="Proyectos" lang="es">
    Algunos proyectos personales que he construido por diversión y aprendizaje
    :^)
    <div class="projects-list">
        {
            sortedProjects.map((project) => (
                <article class="project-card">
                    <a href={`/projects/${project.slug}`}>
                        <h2>{project.data.title}</h2>
                    </a>
                    <p class="description">{project.data.description}</p>
                    {project.data.tags && (
                        <div class="tags">
                            {project.data.tags.map((tag) => (
                                <span class="tag">{tag}</span>
                            ))}
                        </div>
                    )}
                </article>
            ))
        }
    </div>
</BaseLayout>
<style>
    h2 {
        margin-bottom: 0.5rem;
    }

    a {
        color: var(--sol-dark) !important;
    }

    .project-card {
        padding: 1rem;
        margin-top: 0.5rem;
        background-color: var(--sol-metal);
        border: 1px solid var(--sol-dark);
    }

    .tags {
        margin-top: 1rem;
    }

    .tag {
        padding: 0.25rem 0.5rem;
        margin-right: 5px;
        color: var(--sol-dark);
        border: 1px dashed var(--sol-dark);
    }
</style>
