---
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const projects = await getCollection("projects", ({ id }) => {
    return id.startsWith("es/");
});
const sortedProjects = projects.sort(
    (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) =>
        a.data.rank - b.data.rank,
);
---

<BaseLayout title="Proyectos" pageHeader="Proyectos" lang="es">
    Algunos proyectos personales que he construido por diversión y aprendizaje
    :^)
    <div class="projects-list">
        {
            sortedProjects.map((project) => (
                <article class="project-card">
                    <div class="size-badge">
                        <span class="size-label">tamaño</span>
                        <span class="size-value">
                            {project.data.size === "small"
                                ? "pequeño"
                                : project.data.size === "medium"
                                  ? "mediano"
                                  : "grande"}
                        </span>
                    </div>
                    <a href={`/projects/${project.slug}`}>
                        <h2>{project.data.title}</h2>
                    </a>
                    <p class="description">{project.data.description}</p>
                    {project.data.tags && (
                        <div class="tags">
                            {project.data.tags.map((tag) => (
                                <span class="tag">{tag}</span>
                            ))}
                        </div>
                    )}
                </article>
            ))
        }
    </div>
</BaseLayout>
<style>
    h2 {
        margin-bottom: 0.5rem;
        padding-right: 7rem;
    }

    a {
        color: var(--sol-dark) !important;
    }

    .project-card {
        position: relative;
        padding: 1rem;
        margin-top: 0.5rem;
        background-color: var(--sol-metal);
        border: 1px solid var(--sol-dark);
    }

    .size-badge {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        display: flex;
        border: 1px solid var(--sol-dark);
        font-size: 0.75rem;
        z-index: 1;
    }

    .size-label {
        padding: 0.15rem 0.4rem;
        background-color: var(--sol-dark);
        color: var(--sol-metal);
    }

    .size-value {
        padding: 0.15rem 0.4rem;
        background-color: var(--sol-metal);
        color: var(--sol-dark);
    }

    .tags {
        margin-top: 1rem;
    }

    .tag {
        padding: 0.25rem 0.5rem;
        margin-right: 5px;
        color: var(--sol-dark);
        border: 1px dashed var(--sol-dark);
    }
</style>
